<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow">
  <title>{% block title %}{{ settings.app_name }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="pixel-grid" aria-hidden="true"></div>
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', path='/app.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
